<!-- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
  <head>
    <title>Birthday | Calendar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' data: gap: https://manager-birthday-calendar.herokuapp.com/ 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://manager-birthday-calendar.herokuapp.com/ 'unsafe-inline' 'unsafe-eval';** "
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' data: gap: https://cdnjs.cloudflare.com/ 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://cdnjs.cloudflare.com/ 'unsafe-inline' 'unsafe-eval';** "
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' data: gap: https://cdn.jsdelivr.net 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://cdn.jsdelivr.net 'unsafe-inline' 'unsafe-eval';** "
    />
    <link rel="icon" type="image/png" href="images/logo.png" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css?family=Sniglet:400,800");

      body {
        background: #95a5a6;
        font-family: "Sniglet", cursive;
      }
      h1 {
        text-align: center;
        font-size: 190px;
        font-weight: 400;
        margin: 0;
      }
      .fa {
        font-size: 120px;
        text-align: center;
        display: block;
        padding-top: 100px;
        margin: 0 auto;
        color: #a93226;
      }
      #error p {
        text-align: center;
        font-size: 36px;
        color: #4a235a;
      }
      a.back {
        text-align: center;
        margin: 0 auto;
        display: block;
        text-decoration: none;
        font-size: 24px;
        background: #ba4a00;
        border-radius: 10px;
        width: 10%;
        padding: 4px;
        color: #fff;
      }
      footer p {
        padding-top: 160px;
        text-align: center;
      }
      a.w3hubs {
        text-decoration: none;
        color: #a93226;
      }
      @media (max-width: 550px) {
        a.back {
          width: 20%;
        }
      }
      @media (max-width: 425px) {
        h1 {
          padding-top: 20px;
        }
        .fa {
          padding-top: 100px;
        }
      }
    </style>
  </head>
  <body>
    <section id="error">
      <div class="content">
        <i class="fa fa-warning"></i>
        <h1>404</h1>
        <p>Error occurred! - File not Found</p>
        <a class="back" href="/login">Back</a>
      </div>
    </section>
    <footer>
      <p>
        © 2019 404 Error. All Rights Reserved | Design by
        <a class="w3hubs" href="">W3ubs.com</a>
      </p>
    </footer>
  </body>
</html>
